.Spirituality{
    color: #A7DB8D;
  }
  
  .Programming{
    color:#F08030;
  }
  
  .Self-Help{
    color: #9DB7F5;
  }

  .Admin{
    color:#8B0000;
  }

  .User{
    color:#4682B4;
  }
  
  
  section{
    margin-left:20px;
    margin-right:20px;
  }
  
  .list-group{
    width:600px;
  }